.disp-flex{
  display: flex;
}
.disp-inline{
  display: inline;
}
.disp-inline-block{
  display: inline-block;
}
.flex-dir-column{
 
  @include respond(phone-xs){
    flex-direction: column;
  }
@include respond(phone){
  flex-direction: row;
}
 @include respond(tab-port-sm){
    flex-direction: column;
  }
  
}
.justify-center{
  justify-content: center;
}
.align-item-center{
  align-items: center;
}
.p-1{
padding: 0.5rem;
}
.px-1{
padding-left: 1rem;
padding-right: 1rem;
  }
.mt-2{
  margin-top: 2rem;
}
.my-1{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.my-3{
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.mx-2{
  margin-left: 2rem;
  margin-right: 2rem;
}
.remove-margin{
  margin: 0;
}
.negative-row-margin{
  margin-bottom: 0px;
}
ul {
  list-style: none; /* Remove default bullets */
  & li::before {
    content: "\25AA";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $landing-theme; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
   @include respond(tab-port) {
   display: none;
  }
  }
}
.white-space-nowrap{
  white-space: nowrap;
}
 .mb-5{
   margin-bottom: 5rem;
 }
 .darken-img{
 background-color: #000;
 }
 .white-space{
   @include respond(phone-xs) {
    padding: 2rem;
  }
  @include respond(phone-sm) {
    padding: 1rem;
  }
  @include respond(phone) {
    padding:0;
  }
 }
 
 .pt-main{
 padding: 2rem;
 @include respond(phone-sm){
  padding: 1rem;
 }
 @include respond(phone){
  padding: 2rem;
 }
 @include respond(tab-port-sm){
  padding: 2rem;
 }
 @include respond(tab-port){
  padding: 4rem;
 }
  @include respond(tab-land){
  padding: 6rem;
 }
 
 
 }
 .pt-secondary{
  @include respond(phone-xs){
    padding: 1.5rem;
  }
 @include respond(phone){
   padding: 2.5rem;
 }
  @include respond(tab-port){
   padding: 3.5rem;
 }
  }