.home{
  &-main{
   
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/assets/bg-img5-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 90vh;
        margin: auto;
        //padding-top: 66.64%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
                 
     &-lg{
      @include respond(tab-port){
        display: flex;
      }
         
        
           
           &-upload{
             width:50%;
text-align:center;

           }
        }
    &-content{  position: absolute;
      top:0; 
    bottom:0; 
    left:0;
     right:0; 
     &-txt{
      color: #fff;
      text-align: center;
      font-size: 24px;
     
        }
       
    }
  
  }
  &-secondary{
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/assets/bg-img7-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 60vh;
       // padding-top: 66.64%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
                    @include respond(phone){
                      height: 60vh;
                    }
                    &-content{
                      color: $white-text;
                      position:absolute; 
                      top:0; 
                      bottom:0; 
                      left:0;
                       right:0; 
                       text-align: center; 
                     &-txt{
                       font-size: 14px;
                       @include respond(tab-port){
                         font-size: 20px;
                    }
                     }
                    }
  }
}

.result{
  background-color: #f4f8ff;
  &-background-header{
    background-color: $landing-theme;
    //background-image:  linear-gradient( rgba(138, 138, 138, 0.5), rgba(43, 43, 43, 0.5) );
    color: #fff;
    
  }
  &-background-title{
    padding-left: 1rem; 
  }
  &-status{
    //border: 2px solid #00FF00;
  //  border-radius: 50px;
    display: inline-block;
    &-txt{
      color: #00FF00;
     // transform: rotate(-10deg);
      padding-bottom: 1rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      @include respond(phone){
        padding-bottom: 1.5rem;
      }
    }
  } 
  &-specification-txt{
    color: $landing-theme;
    font-weight: 700;
    display: inline;
  }
  &-button{
    display:flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  &-section-border1{
    background-color: #fff;
    margin: 1rem;
    padding: 1rem !important;
    border-radius: 15px;
  } &-section-border2{
    background-color: #f6f6f6;
    margin: 1rem;
    padding: 1rem !important;
    border-radius: 15px;
  }
  &-table-style{
    border-bottom: none;
  }
}

